.outerContainer {
    --row-gap: 1rem;
    --btn-height: 5rem;

    flex-shrink: 0;

    align-self: center;

    width: 100%;

    padding: 0 var(--surrounding-padding);

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 20rem;
    max-width: var(--conversation-max-width);
    
    
    row-gap: var(--row-gap);
    
    
    
    overflow: hidden;
}

.innerContainer {
    
    width: 100%;

    

    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: .5rem;

    overflow: hidden;
}

.fileInputContainer {
    flex-shrink: 0;
    height: var(--btn-height);
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: var(--dark-pink-btn-bcg);

    font-size: 2.8rem;
    font-weight: bolder;

    overflow: hidden;

    & label{
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }
}





















.textInputContainer {
    flex: 1 1 0;
    min-height: var(--btn-height);
    max-height: 20rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    padding: 1.2rem 1.5rem;

    background-color: var(--dark-grey);

    border-radius: 3rem;

    overflow-y: auto;

    
}




.filesDisplayContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    align-items: flex-end;
}


.textareaInnerContainer{

    width: 100%;
    display: flex;
    align-items: center;

    .textInput {
        resize: none;
    
        width: 100%;
    
        border: none;
        outline: none;
    
        /* overflow-y: hidden; */
    
        background-color: transparent;
    
        /* line-height: 1.5; */
    
        /* min-height: 2.4rem; */
    }

    .textInput::placeholder {
        color: white;
        /* font-size: 1.4rem; */

        line-height: inherit;
    }
}




.textInputContainer.onlyTextareaContainer{
    row-gap: 0;
    /* justify-content: center; */

    .textareaInnerContainer{
        flex: 1 1 0;
    }

    .textInput{
        
    }
}










.sendButton {
    flex-shrink: 0;
    height: var(--btn-height);
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: var(--dark-pink-btn-bcg);

    overflow: hidden;

    padding: 1rem;

    cursor: pointer;

    fill: white;



    &>svg {
        width: 100%;
        height: 100%;

        object-fit: cover;

        transform: rotateZ(270deg);
    }
}

.sendButton:disabled {
    background-color: var(--dark-transparent-red-error-bcg);

    padding: 0;

    &>svg {}
}









.errorContainer{

    display: flex;
    /* align-items: center; */
    align-items: flex-end;
    column-gap: .5rem;

    padding: 1rem 0;

    overflow-x: auto;

    .errorText {
        flex-shrink: 0;

        max-height: 7rem;
        max-width: 20rem;

        overflow-y: auto;

        /* overflow: hidden; */

        border-radius: 1rem;

        padding: 1rem;

        color: var(--light-red-error-colour);
        background-color: var(--dark-transparent-red-error-bcg);
        font-size: 1.4rem;
        font-weight: bolder;
        
    }
}